<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674682531029-934i7qhb2scbrrpavd4jrmuj3aadcn8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674682531029-934i7qhb2scbrrpavd4jrmuj3aadcn8p</string>
	<key>API_KEY</key>
	<string>AIzaSyACdKs-ESP1LN4tQdyzGEGKjcMUtrExjOo</string>
	<key>GCM_SENDER_ID</key>
	<string>674682531029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-hopefully-test</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-hopefully-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674682531029:ios:d390e5cd6db37998ebc65c</string>
</dict>
</plist>